.header {
  background-color: #88c9b7;
  padding: 10px;
}

nav {
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
 padding-left: 0px;
 padding-top: 10px;
 width: 100%;
 display: block;
 float: left;
}

.leftcolumn {
  float: left;
  width: 35%;
  padding: 10px;
  padding-left: 0px;

}

.leftcolumn img {
  border-radius: 5px;
  margin-right: 10px;
}

.rightcolumn {
  
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px; 
}
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 10px;
}

.comment {
  float: left;
  width: 100%;
  
   padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(233, 233, 233);
}

.date {
  font-weight: bold;
  font-size: 14px;
}
.footer1 {
  text-align: center;
  border-radius: 5px;
 
  
  background-color: lightgray;
  float: left;
  width: 98%;
  margin: 20px 90px 10px 10px;
  
}

.social {
  text-align: center;
   background-color: rgb(236, 234, 234);
  float: left;
  width: 100%;
  padding: 3px;
  }

  .social img {
    display: inline;
    width: 25px;
  }

  @media screen and (max-width: 600px) {
    
    .container {
      width: 100%;
     
    }
    .leftcolumn {
  float: left;
  width: 100%;
  padding: 5px;

}
    

  }
